.header{
    display: flex;
    justify-content: space-around;
}

.navigation{
    display: flex;
}
.navigation .navigation-item{
    padding: 10px 15px;
    text-decoration: none;
}
.brand-logo-name{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
}